{% extends "admin/base.html" %}
 
{% block admintitle %} Add To Cart - Admin {% endblock %}

{% block admincontent %}

<div class="container-fluid">
    <div class="row mt-4 mb-4">
        <div class="col-lg-12 mt-2 mb-2">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div>My Cart</div>
                    <div><a href="{% if count_cart == 0 %} javascript:void(0) {% else %} {{ url_for('adminShowCart') }} {% endif %}" class="text-dark text-decoration-none"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {% if count_cart == 0 %} (0) {% else %} ({{count_cart}}) {% endif %}</a></div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for book in data %}
                            <div class="col-xl-2 mt-2 mb-4">
                                <div class="card h-100">
                                    <img src="{{ url_for('static', filename='coverimage/' + book.coverpage) }}" alt="{{ book.title }}" class="card-img-top" style="height: 300px;">
                                    <div class="card-body">
                                        <p class="card-text">{{ book.title }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="d-flex justify-content-between">
                                            <div style="border: 2px solid #0b2558; border-radius: 5px; margin: 5px;">
                                                <a href="javascript:void(0)" style="padding: 2px 7px; font-size: 13px;" class="text-decoration-none text-dark">₹ {{ book.actual_price }}</a>
                                            </div>
                                            {% if book.stock == 0 %}
                                                <div style="border-radius: 5px; margin: 5px;" class="bg-danger text-white">
                                                    <a href="javascript:void(0)" style="padding: 2px 7px; font-size: 13px;" class="text-decoration-none text-white">Out Of Stock</a>
                                                </div>
                                            {% else %}
                                                <form action="" method="POST">
                                                    <div style="border-radius: 5px; margin: 5px;">
                                                        <input type="hidden" name="book_id" value="{{ book.id }}">
                                                        <button type="submit" style="padding: 2px 7px; font-size: 13px;" class="btn btn-success">Add To Cart</button>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}