{% extends "admin/base.html" %}

{% block admintitle %} Edit Books - Admin {% endblock %}

{% block admincontent %}

<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-lg-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert-container">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                <strong>{{ category|capitalize }}:</strong> {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="card shadow mb-4">
                <div class="card-header">Add Books</div>
                <div class="card-body">
                    <form action"" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Title :</label>
                                <input type="text" name="title" class="form-control mt-2 mb-2" placeholder="Title" value="{{ books.title }}">
                            </div>
                            <div class="col-lg-6">
                                <label>Editor :</label>
                                <input type="text" name="editor" class="form-control mt-2 mb-2" placeholder="Editor" value="{{ books.editor }}">
                            </div>
                            <div class="col-lg-6">
                                <label>Publisher Year :</label>
                                <input type="text" name="publisher_year" maxlength="4" class="form-control mt-2 mb-2" placeholder="Publisher Year" value="{{ books.publisher_year }}">
                            </div>
                            <div class="col-lg-6">
                                <label>Subject :</label>
                                <input type="text" name="subject" class="form-control mt-2 mb-2" placeholder="Subject" value="{{ books.subject }}">
                            </div>
                            <div class="col-lg-6">
                                <label>ISBN :</label>
                                <input type="text" name="isbn" class="form-control mt-2 mb-2" placeholder="ISBN" value="{{ books.isbn }}">
                            </div>
                            <div class="col-lg-6">
                                <label>Pages :</label>
                                <input type="text" name="pages" class="form-control mt-2 mb-2" placeholder="Pages" value="{{ books.pages }}">
                            </div>
                            <div class="col-lg-6">
                                <label>Language :</label>
                                <input type="text" name="language" class="form-control mt-2 mb-2" placeholder="Language" value="{{ books.language }}">
                            </div>
                            <div class="col-lg-6">
                                <label>Actual Price :</label>
                                <input type="text" name="actual_price" class="form-control mt-2 mb-2" placeholder="Actual Price" value="{{ books.actual_price }}">
                            </div>
                            <div class="col-lg-6">
                                <label>Discounted Price :</label>
                                <input type="text" name="discounted_price" class="form-control mt-2 mb-2" placeholder="Discounted Price" value="{{ books.discounted_price }}">
                            </div>
                            <div class="col-lg-6">
                                <label>Description :</label>
                                <input type="text" name="descr" class="form-control mt-2 mb-2" placeholder="Description" value="{{ books.descr }}">
                            </div>
                            <div class="col-lg-6">
                                <label>Upload Image :</label>
                                <input type="file" name="image" class="form-control mt-2 mb-2">
                            </div>
                            <div class="col-lg-12">
                                <img src="{% if books.coverpage %} {{ url_for('static', filename='coverimage/' + books.coverpage) }} {% else %} {{ url_for('static', filename='coverimage/imagesnotfound.jpg') }} {% endif %}" class="img-fluid">
                            </div>
                            <div class="col-lg-12 text-center mt-2 mb-2">
                                <button type="submit" name="submit" class="btn btn-success">Add Books</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}