<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>

    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 70vh;">
            <div class="col-lg-5">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alert-container">
                            {% for category,message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                    <strong>{{ category|capitalize }}:</strong> {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="card">
                    <div class="card-header">
                      Admin Log In
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Email Id:</label>
                                    <input type="text" class="form-control mt-2 mb-2" name="username" placeholder="Enter Email Id">
                                </div>
                                <div class="col-lg-12">
                                <label>Password:</label>
                                <input type="password" class="form-control mt-2 mb-2" name="password" placeholder="Enter Password">
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" name="submit" class="btn btn-success mt-2 mb-2 w-100">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  </body>
</html>
