{% extends "admin/base.html" %}

{% block admintitle %} Manage Inventory - Admin {% endblock %}

{% block admincontent %}

<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-lg-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert-container">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                <strong>{{ category|capitalize }}:</strong> {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between">
                    <div>Manage Inventory</div>
                    <div onclick="addFields()"><i class="fa fa-plus"></i></div>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div id="addfields">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Book Id :</label>
                                    <input type="text" name="book_id[]" class="form-control mt-2 mb-2" placeholder="Book Id">
                                </div>
                                <div class="col-lg-6">
                                    <label>Stock :</label>
                                    <input type="text" name="in_out_stock[]" class="form-control mt-2 mb-2" placeholder="Stock">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center mt-2 mb-2">
                            <button type="submit" name="submit" class="btn btn-success">Add Stock</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function addFields(){
var fields = `<div class="row">
    <div class="col-lg-6">
        <label>Book Id :</label>
        <input type="text" name="book_id[]" class="form-control mt-2 mb-2" placeholder="Book Id">
    </div>
    <div class="col-lg-6">
        <label>Stock :</label>
        <input type="text" name="in_out_stock[]" class="form-control mt-2 mb-2" placeholder="Stock">
    </div>
</div>`;
document.getElementById('addfields').innerHTML += fields;
}
</script>
{% endblock %}