{% extends "admin/base.html" %}

{% block admintitle %} Dashboard - Admin {% endblock %}

{% block admincontent %}

<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header">Show Users</div>
                <div class="card-body p-0">
                    <table class="table table-bordered table-striped text-center mb-0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>E-mail Id</th>
                                <th>Mobile</th>
                                <th>Account Type</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if users %}
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.mobile }}</td>
                                        <td>{{ user.account_type }}</td>
                                        <td>{{ user.status }}</td>
                                        <td><a href="{{ url_for('adminEditUser', user_id=user.id) }}" class="badge bg-primary text-decoration-none">Edit</a></td>
                                        <td><a href="{{ url_for('adminDeleteUser', user_id=user.id) }}" class="badge bg-danger text-decoration-none">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                    <tr>
                                        <td colspan="6">No Data Found</td>
                                    </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}