{% extends "base.html" %}

{% block title %} Change Password {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-lg-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert-container">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                <strong>{{ category|capitalize }}:</strong> {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        {% include "sidebar.html" %}

        <div class="col-lg-9">
            <div class="card shadow mb-4">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Old Password :</label>
                                <input type="password" name="old_pass" class="form-control mt-2 mb-2" placeholder="Old Password">
                            </div>
                            <div class="col-lg-12">
                                <label>New Password :</label>
                                <input type="password" name="new_pass" class="form-control mt-2 mb-2" placeholder="New Password">
                            </div>
                            <div class="col-lg-12">
                                <label>Repeat Password :</label>
                                <input type="password" name="repeat_pass" class="form-control mt-2 mb-2" placeholder="Repeat Password">
                            </div>
                            <div class="col-lg-12 text-center mt-2 mb-2">
                                <button type="submit" name="submit" class="btn btn-success">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}