<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/bookstore' %} active {% endif %}" href="{{ url_for('bookstore') }}">Bookstore</a>
        </li>
        {% if session.get('user_logged_in') %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/profile' %} active {% endif %}" href="{{ url_for('userProfile') }}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/login' %} active {% endif %}" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/register' %} active {% endif %}" href="{{ url_for('register') }}">Register</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('userCart') }}"><i class="fa fa-shopping-cart"></i>({{ cart_count }})</a>
        </li>
      </ul>
    </div>
  </div>
</nav>