{% extends "base.html" %}

{% block title %} Success {% endblock %}

{% block content %}

    <style type="text/css">
     
        .h_head {
          color: #88B04B;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
          text-align: center;
        }
        .p_para {
          color: #404F5E;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
          text-align: center;
        }
      .i_icon {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card_style {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }
    </style>

<div class="container-fluid">
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-lg-4">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card_style">
                        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;text-align: center;">
                            <i class="checkmark i_icon">✓</i>
                          </div>
                          <br>
                          <h1 class="h_head">Success</h1> 
                          <p class="p_para">We received your purchase request;<br/> we'll be in touch shortly!</p>
                          <p class="p_para"><a href="{{ url_for('index') }}" class="text-decoration-none text-dark">Go to home page</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}